<div class="queue-items">
    {% for song in songs %}
    <div class="queue-item"
      data-song-id="{{ song.id }}"
      data-audio-url="{{ song.audio_url }}"
      data-name="{{ song.name }}"
      data-style="{{ song.details.style }}"
      data-image-url="{{ song.image_large_url|default('/static/images/placeholder.jpg', true) }}">
        <img src="{{ song.image_url|default('/static/images/placeholder.jpg', true) }}" 
             alt="Album Cover" 
             class="queue-cover-image">
        <div class="song-details">
            <span class="song-name">{{ song.name }}</span>
            <div class="song-info">
                <span class="style-tag">{{ song.details.style }}</span>
                <span class="artist-tag cursor-default" title="{{ song.model_name }}">{{ song.model_nickname }}</span>
                <span class="status-tag">{{ song.status }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
    <div>{{number_generating}} songs generating</div>
</div>